
@{
    ViewBag.Title = "Resources";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<div class="ban-inner-content text-center">
    <ol class="breadcrumb justify-content-center">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">Projects</li>
    </ol>

</div>
<!-- //banner-text -->
	</div>
<!-- //banner -->
<!--gallery  -->
<section class="bottom-banner-w3layouts">
    <div class="container-fluid text-center">
        <h3 class="tittle-wthree text-center">
            <span>Some Info</span>Our Projects
        </h3>
        <ul class="portfolio-categ filter pt-5 mb-5 text-center">
            <li class="port-filter all active">
                <a href="#">All</a>
            </li>
            <li class="cat-item-1">
                <a href="#" title="Category 1">Accounting</a>
            </li>
            <li class="cat-item-2">
                <a href="#" title="Category 2">Employee</a>
            </li>
            <li class="cat-item-3">
                <a href="#" title="Category 3">Banking</a>
            </li>
            <li class="cat-item-4">
                <a href="#" title="Category 4">Finacial</a>
            </li>
        </ul>
        <ul class="portfolio-area clearfix">
            <li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
                <div>
                    <span class="image-block img-hover">
                        <a class="image-zoom rounded" href="images/4.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/4.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/5.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/5.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/6.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/6.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-3" data-type="cat-item-4">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/7.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/7.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/8.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/8.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/9.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/9.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-6" data-type="cat-item-1">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/10.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/10.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/11.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/11.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-9" data-type="cat-item-4">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/12.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/12.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-9" data-type="cat-item-3">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/13.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/13.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-10" data-type="cat-item-2">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/4.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/4.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-8" data-type="cat-item-1">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/9.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/9.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-9" data-type="cat-item-3">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/5.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/5.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-10" data-type="cat-item-2">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/8.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/8.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
            <li class="portfolio-item2" data-id="id-8" data-type="cat-item-1">
                <div>
                    <span class="image-block">
                        <a class="image-zoom" href="images/6.jpg" data-gal="prettyPhoto[gallery]">

                            <img src="images/6.jpg" class="img-fluid rounded" alt="">

                        </a>
                    </span>
                </div>
            </li>
        </ul>
        <!--end portfolio-area -->

    </div>
    <!-- //gallery container -->
</section>
<!-- //gallery -->
<!-- //Custom-JavaScript-File-Links -->
<a href="#home" class="scroll" id="toTop" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"> </span>
</a>
<script src="~js/jquery-2.2.3.min.js"></script>
<!--pop-up-box-->
<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<script src="~js/jquery.magnific-popup.js"></script>
<!--//pop-up-box-->
<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
</script>
<!--//search-bar-->
<!-- //js -->
<script src="~js/bootstrap.js"></script>
<!--/ start-smoth-scrolling -->
<script src="~js/move-top.js"></script>
<script src="~js/easing.js"></script>
<script>
	jQuery(document).ready(function ($) {
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({
				scrollTop: $(this.hash).offset().top
			}, 900);
		});
	});
</script>
<!--// end-smoth-scrolling -->
<!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
<script src="~s/jquery-1.7.2.js"></script>
<script src="~js/jquery.quicksand.js"></script>
<script src="~js/script.js"></script>
<script src="~js/jquery.prettyPhoto.js"></script>
<!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->
